<br>

<div class="row">
<div class="container">

<div class="col-md-offset-4  col-md-4 border  login">
<h2 class="lead bg-blue padding-left-10">Login</h2>
<form [formGroup]="lgn" (ngSubmit)="userLogin(lgn.value)" >
<div class="form-group" [ngClass]='{"has-error":lgn.controls["empCode"].valid}'>
<label>User Name:</label>
<input type="email" name="empCode" class="form-control" [formControl]="lgn.controls['empCode']" autofocus  value="" />

</div>
<div class="form-group" [ngClass]='{"has-error":lgn.controls["password"].valid}'><label>Password:</label>
 <input type="password" name="password" class="form-control" [formControl]="lgn.controls['password']" value="" />
</div>

<div class="form-group">
	<input type="submit"  [disabled]='!lgn.valid' class="btn btn-info" value="Login" />
</div>
</form>

<div class="alert alert-info" *ngIf='msg' >{{msg}}</div>
</div>
</div>
</div>