<div class="crop" [style.width.px]='starWidth' style="margin:0 auto;" (click)='onClick()' [title]='rating'>
    <div style="width:86px; ">
    <span class="glyphicon glyphicon-star"></span>
     <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
       <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
    </div>
</div>