<!--The content below is only a placeholder and can be replaced.-->
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">smart Employee</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a class="active" [routerLink]="['/welcome']">Home</a></li>
          <li><a [routerLink]="['/add-project']">Add Projects</a></li>
          <li><a [routerLink]="['/userlist']">User List</a></li>
          <li><a [routerLink]="['/register']">Sign Up</a></li>
          <li><a [routerLink]="['/']">Others</a></li>
    </ul>
  </div>
</nav>

<div class="row">
      <router-outlet></router-outlet>
</div>

