<div class="col-md-5">
  <h2>Add Project</h2>  
  <form #prj="ngForm" [formGroup]="prjForm" (ngSubmit)='submitProject(prj)' >
      <div class="form-group">
        <label for="usr">Project Name:</label>
        <input type="text" class="form-control" formControlName="projectName" required  >
      </div>
      <div class="form-group">
        <label for="usr">Country:</label>
        <input type="text" class="form-control"  formControlName="country"  >
      </div>
      
    <div class="form-group">
        <button type="submit" class="btn btn-info" [disabled]='!prj.form.valid' >Save</button>
    </div>
  </form>
  
  <div>
      {{msg}}
  </div>

</div>