<div class="col-md-5">
  <h2>Add Team</h2>  
  <form #team="ngForm" [formGroup]="teamForm" (ngSubmit)='submitTeam(prj)' >
      <div class="form-group">
        <label for="usr">Team Name:</label>
        <input type="text" class="form-control" formControlName="teamName" required  >
      </div>
      <div class="form-group">
        <label for="usr">employees:</label>
        <select  formControlName="teamEmployee" class="form-control" multiple>
            <option *ngFor="let emp of userLists"  value="{{emp.id}}">{{emp.name}}</option>
        </select>
      </div>
      
    <div class="form-group">
        <button type="submit" class="btn btn-info" [disabled]='!team.form.valid' >Save</button>
    </div>
  </form>
  
  <div>
      {{msg}}
  </div>

</div>