<div class="col-md-12 text-center">
<h1>
  Welcome Employee Service
</h1>
<div class="col-sm-12">
<div class="col-sm-3">
<h2 class="list-head">Projects</h2>
<table class="table table-responsive project-list " *ngFor="let project of projectList">
<tr >
    <td><a [routerLink]="['/project-list']">{{project.project_name}}</a></td>
</tr>
</table>
<div class="see-more"><a [routerLink]="['/project-list']">see more...</a></div>
</div>

<div class="col-sm-3">
  <h2 class="list-head">Teams</h2>
  <ul class="team-list">
    <li *ngFor="let team of teamList"  >
      <a (click)="getEmpList(team.employees)">{{team.team_name}}</a>
    
    </li>
  </ul>
  <div class="see-more"><a [routerLink]="['/project-list']">see more...</a></div>  
</div>

<div class="col-sm-6 text-center team-member-list">
  <h2 class="list-head align-center">Team Members</h2>

  <div class="col-sm-4 detail-block"  *ngFor="let emp of employeeList">
   <table>

        
        <tr><td><a [routerLink]="['/edituser',emp.id]"><img src="http://localhost:8082/myApp-server/{{emp.image}}" class="image-frame"></a></td></tr>
        <tr><td>{{emp.empCode}}</td></tr>
        <tr><td>{{emp.name}}</td></tr>
        <tr><td>{{emp.designation}}</td></tr>
        <tr><star-tmp [rating]='emp.ranking' (starClicked)='showRating($event)'></star-tmp></tr>
    </table>
  </div>
<div class="see-more"><a [routerLink]="['/userlist']">see more...</a></div>
</div>
  
</div>
 

</div>



