.list-head{

    font-size: 25px;
    font-family: monospace;
    color: #2092a7;
    text-align: left;
    font-weight: 500;
}

.project-list tr td{text-align:left;border:none;border-left: 3px solid #b12c2c;}
.project-list tr td a{    color: #2092a7;    font-family: monospace;
    font-weight: bold;
    font-size: 14px;}
.team-list{padding:0px;}
.team-list li{ 
    display: block;
    text-align: left;
    border: none;
    border-left: 3px solid #b12c2c;
    padding: 8px;
    margin: 10px 0px;}

.team-list li a{    color: #2092a7; cursor:pointer;    font-family: monospace;
    font-weight: bold;
    font-size: 14px;}

.team-member-list h2{text-align: center;}
.team-member-list .detail-block table{width: 100%;}
.team-member-list .detail-block tr td{border:none; color: #2092a7; cursor:pointer;    font-family: monospace;
    font-weight: bold;
    font-size: 14px;    padding: 8px;}
.team-member-list .detail-block tr:nth-child(2) td{border-top: 3px solid #b12c2c;}
.image-frame{border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid #2095bd;}