
<div class="col-md-12">

<div class="panel control-panel panel-primary">
    <div class="panel-heading ">
        <strong>User Details: </strong> {{pageTitle}}
    </div>
    <div class="panel-body">
      <div class="col-md-2">
            <img [src]="'http://localhost:8082/myApp-server/'+image"  class="img-responsive" >
      </div>
      <div class="col-md-9">
       
      <ul class="list" *ngFor='let userData of userLists' >
         <li><label>Projct Asssign:</label>{{project}}</li>
         <li><label>Id:</label> {{userData.id}}</li>
          <li><label>Name:</label> {{userData.name}}</li>
          <li><label>Designation:</label> {{userData.designation}}</li>
          <li><label>Rank:</label> {{userData.ranking}}</li>
          <li><label>Employee Code:</label> {{userData.empCode}}</li>
      </ul>
      </div>
    </div>
    <div class="panel-footer">
        <button (click)='goBack()' class="btn btn-info">Go Back</button>
    </div>
</div>

</div>
