
<div class="col-md-12">
  
    <div class="panel panel-primary">
        <div class="panel-heading">{{pageTitle}}</div>
        <div class="panel-body">
          <label>Filter By:Name </label><input type="text" [(ngModel)]='listFilter' />
          <h3>Filtered By:{{listFilter}}</h3>
          <button class="btn btn-primary pull-right btn-sm" (click)='toggleImage()'>{{imageShow ? 'Hide' : 'show' }} Image</button>
          <table  class="table table-inverse table-striped table-hover">
            <thead>
                <th> Sr.</th>
                 <th> Name</th>
                  <th> Designation</th>
                  <th>Employee Code</th>
                  <th> Rating</th>
                  <th *ngIf='imageShow'>Image</th>
                  <th>Action</th>
                  
            </thead>
            <tbody>
                <tr *ngFor='let user of filteredList'>
                  <td>{{user.id}}</td>
                  <td>{{user.name | uppercase}}</td>
                  <td>{{user.designation}}</td>
                  <td>{{user.empCode | uppercase | convertToSpace:'-'}}</td>
                  <td><star-tmp [rating]='user.ranking' (starClicked)='showRating($event)'></star-tmp></td>
                  <td *ngIf='imageShow'><img [src]="'http://localhost:8082/myApp-server/'+user.image" [width]="imgWidth" ></td>
                  <td><a [routerLink]="['/user',user.id]"><span class="glyphicon glyphicon-eye-open " title="View"></span></a>&nbsp;&nbsp;&nbsp;<a [routerLink]="['/edituser',user.id]"><span class="glyphicon glyphicon-edit " title="Remove"></span></a> 
                  &nbsp;&nbsp;&nbsp;<a [routerLink]="['/remove',user.id]"><span class="glyphicon glyphicon-remove " title="Remove" style="color:red;"></span></a>
                  </td>
                                  </tr>
            </tbody>
          </table>

          <span class="alert alert-info" *ngIf='msg' >{{msg}}</span>
        </div>
    </div>
    </div>