<div class="col-md-5">
  <h2>Sign Up</h2>  
  <form #emp="ngForm" [formGroup]="empForm" (ngSubmit)='submitForm(emp)'  enctype="multipart/form-data">
       <div class="form-group">
        <label for="usr">Project:</label>
        <select class="form-control" formControlName="projectId" >
            <option value="">--Select Project--</option>
            <option *ngFor='let project of list'    value="{{project.prj_id}}">{{project.project_name}}</option>
        </select>
      </div>  
      <div class="form-group">
        <label for="usr">Name:</label>
        <input type="text" class="form-control" formControlName="name" required  >
      </div>
      <div class="form-group">
        <label for="usr">Designation:</label>
        <input type="text" class="form-control"  formControlName="designation"  >
      </div>
      <div class="form-group">
        <label for="usr">Employee Code:</label>
        <input type="text" class="form-control"  formControlName="empCode"  >
      </div>
      <div class="form-group">
        <label for="usr">Rating:</label>
        <input type="text" class="form-control"  formControlName="ranking" >
      </div>
       <div class="form-group">
        <label for="usr">Password:</label>
        <input type="password" class="form-control"  formControlName="password" >
      </div>

      <div class="form-group clearfix">
        <label for="pwd">Image:</label>
        <input type="file" name="img" (change)="onFileChange($event)"  #fileInput  class="form-control" value="Select the file">
      </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info" [disabled]='!emp.form.valid' >Save</button>
    </div>
  </form>
  
  <div>
      {{msg}}
  </div>

</div>