
<div class="col-md-12">
  
    <div class="panel panel-primary">
        <div class="panel-heading">{{pageTitle}}</div>
        <div class="panel-body">
          <label>Filter By:Name </label><input type="text" [(ngModel)]='listFilter' />
          <h3>Filtered By:{{listFilter}}</h3>
          <table  class="table table-inverse table-striped table-hover">
            <thead>
                <th> Id.</th>
                 <th> Project Name</th>
                  <th>country</th>
                  <th>Action</th>
                  
            </thead>
            <tbody>
                <tr *ngFor='let project of projectList'>
                  <td>{{project.prj_id}}</td>
                  <td>{{project.project_name | uppercase}}</td>
                  <td>{{project.country}}</td>              
                  <td><a [routerLink]="['/edituser',project.prj_id]"><span class="glyphicon glyphicon-edit " title="Remove"></span></a> 
                  &nbsp;&nbsp;&nbsp;<a [routerLink]="['/remove',project.prj_id]"><span class="glyphicon glyphicon-remove " title="Remove" style="color:red;"></span></a>
                  </td>
                </tr>
            </tbody>
          </table>

          <span class="alert alert-info" *ngIf='msg' >{{msg}}</span>
        </div>
    </div>
    </div>